{% extends "shop/base.html" %}
{% block content %}
    {% for offer in offers %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted">{{ offer.developer }}</small>
                <small class="text-muted">{{ offer.release_date }}</small>
            </div>
                <img src="{{ offer.cover_image }}" class="rounded float-right" alt="Game cover" width="90" height="135">
                <h2><a class="article-title" href="/details/{{ offer.name }}/">{{ offer.name }}</a></h2>
                <p class="article-content">{{ offer.price }} zł</p>
                {% block button %}{% endblock %}
            </div>
        </article>
    {% endfor %}
    {% block order %}{% endblock %}
{% endblock content %}
