{% extends "shop/base.html" %}
{% block content %}
<form action="{% url 'shop-payment' %}" method="post">{% csrf_token %}
    <div class="form-group">
        <label for="inputFirstName">First name</label>
        <input type="text" class="form-control" id="inputFirstName" aria-describedby="firstNameHelp" placeholder="Enter first name" name="firstName">
    </div>
    <div class="form-group">
        <label for="inputLastName">Last name</label>
        <input type="text" class="form-control" id="inputLastName" aria-describedby="lastNameHelp" placeholder="Enter last name" name="lastName">
    </div>
    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
        <label for="inputPhone">Phone number</label>
        <input type="tel" class="form-control" id="inputPhone" aria-describedby="phoneHelp" placeholder="Enter phone number" name="phone">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}
